.faq_container_main {
  padding: 15px;
}

.faq_heading {
  display: flex;
}

.faq_heading_container h2 {
  text-align: end;
  font-size: 36px;
  font-weight: 600;
  position: relative;
}

.faq_heading_container h2::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust distance from text */
  right: 20%;
  width: 120px;
  border-bottom: 4px solid #86be3f; /* Add a solid black border bottom */
}

.faq_heading_container {
  display: flex;
}

.faq_heading_pattern {
  text-align: center;
}

.questions_container_main {
  display: flex;
  justify-content: center;
}

/* Styles for the accordion button */

.accordian-item {
  border: none !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1) !important;
}
.accordion-button {
  position: relative; /* Set position for pseudo-element */
  display: flex;
  align-items: center; /* Align icon and text vertically */
  justify-content: flex-start; /* Ensure items start from the left */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  gap: 20px;

  /* Other existing styles */
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  display: none !important;
  /* Other existing styles */
}

.accordion-body {
  font-size: 14px;
  font-weight: 400;
  color: #54595f;
  line-height: 24px;
}

@media only screen and (max-width: 576px) {
  .benefits_card_container {
    display: block;
    text-align: -webkit-center;
  }
}

@media only screen and (max-width: 767px) {
  .benefits_card_container {
    display: block;
    text-align: -webkit-center;
  }
}

@media only screen and (max-width: 990px) {
  .faq_heading_container {
    gap: 20px;
    justify-content: space-evenly;
  }
}
