.hero-container {
  height: 700px;
  background: url("../../assets/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  width: auto;
}

.hero-container .row {
  justify-content: center;
}

.text-container h1 {
  font-size: 64px;
  color: white;
  font-weight: 700;
}
.text-container h4 {
  color: white;
  font-weight: 500;
}
